{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DataScience</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sketchy/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-2kOE+STGAkgemIkUbGtoZ8dJLqfvJ/xzRnimSkQN7viOfwRvWseF7lqcuNXmjwrL" crossorigin="anonymous">
        <style>

            .card{
                margin: auto;
                height: 500px;
                border-width: 3px;
                border-color: white;
            }
        </style>
</head>

<body>


    <div class="container">
        <form method="POST" action="" class="shadow-lg p-3 mb-5 bg-white rounded">
            {% csrf_token %}
            <div class="form-group">
                <h2 style="text-align: center;">DATASCIENCE PROJECT</h2>
                <textarea class="form-control" rows="3" name="chat" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        <h1 style="text-align: center;">Classification : {{ label }}</h1>
        <p class="card-text" style="text-align: center;"><small class="text-muted">Accuracy : {{ acc }} %</small></p>
        </form>
        <div class="row">
        <div class="card text-white bg-dark " style="max-width: 10rem 10rem;">
            <div class="card-header">ตัวอย่างบทสนทนา</div>
            <div class="card-body">
                <h5 class="card-title">comp.windows.x</h5>
                <p class="card-text">
                        Hello Xperts out there.
                        I've just built X11R5 for SunOS 4.1.1/SPARC.
                        I have gcc-2.2 and I'd like to use its 64-bit capability
                        to generate an X11 release which will render to the frame
                        buffer using store-double (64-bit) machine code.
                        Can anyone tell me which directories/source files/
                        compiler switches to begin with?
                    </p>
            </div>
        </div>

        <div class="card text-white bg-dark" style="max-width: 10rem 10rem;">
            <div class="card-header">ตัวอย่างบทสนทนา</div>
            <div class="card-body">
                <h5 class="card-title">misc.forsale</h5>
                <p class="card-text">I have a Seagate 3144 130MB IDE drive forsale.  I bought it yesterday
                    and have been able to come across a 215MB that I am going to buy, but I 
                    need to sell this one.  I guarantee that it will work.  There is still a
                    transferable warranty I believe.  It was only used as a boot drive, not a
                    server (source) drive.  I just want my money back out of it...$180.  Thanks
                    a lot and offers appreciated.  Dave 317-495-5978  kari@sage.cc.purdue.edu</p>
            </div>
        </div>
        
        <div class="card text-white bg-dark" style="max-width: 10rem 10rem;">
            <div class="card-header">ตัวอย่างบทสนทนา</div>
            <div class="card-body">
                <h5 class="card-title">rec.motorcycles</h5>
                <p class="card-text">
                    
                            Hey, I don't really care, but when someone sends me
                            email telling me to fuck off, I get rather pissed.  If he posted
                            to the net, I could really care less, but sending mail
                            is just childish.  Mr. Infant(e) is just that, an infant.  Give 
                            him a few more years to grow up and maybe he'll learn some 
                            network etiquette.

                            If you can't stand the flames,
                            and you don't have the brains,
                            Stay out of the newsgroup.

                            Kind of catchy n'est pas?
                    ---</p>
            </div>
        </div>
    </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>